<!DOCTYPE html>
<html>
  <head>
    <title>Writer's Trail</title>
    <link rel="shorcut icon" href="favicon.png">
    <meta name="application-name" value="Writer's Trail">
    <meta charset="utf-8">
  </head>
  <body>
    <script>
      var BOOTSTRAP = {{#json data}}{{/json}};
    </script>
    <main>
      {{{initialMarkup}}}
    </main>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
